{% extends "master.layout.html" %} {% load staticfiles %} {% load templatetags
%}
{% load humanize %}
{% load templatetags %}
{% block content %}
    <div class="m-grid__item m-grid__item--fluid m-wrapper">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb bg-white">
                <li class="breadcrumb-item">Visualization & Analytics</li>
                <li class="breadcrumb-item active" aria-current="page">Product family {{ year }}</li>
            </ol>
        </nav>
    </div>
    <!-- Begin::Section -->
    <div class="row">
        <div class="col-xl-4 pr-0">
            <div class="m-portlet  m-portlet--mobile">
                <!-- <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text">Product Family</h3>
                        </div>
                    </div>
                </div> -->
                <div class="m-portlet__body position-relative">
                    <!-- Filter section -->
                    <form action="{% url "scatter-plot" %}" method="get">
                        <div class="row align-items-center justify-content-between">
                            <div class="col-md-3">
                                <div class="form-group m-form__group">
                                    <select class="form-control m-input" name="year" id="exampleSelect1">
                                        {% if years %}
                                            {% for year_v in years %}
                                                <option value="{{ year_v.year }}" {% if year_v.year == year %}
                                                        selected="selected"{% endif %}>{{ year_v.year }}</option>
                                            {% endfor %}
                                        {% endif %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="form-group m-form__group">
                                    {#                            <input type="text" class="form-control" name="keyword" placeholder="Search for..."#}
                                    {#                                   value="{% if keyword %}{{ keyword }}{% endif %}">#}
                                    <select class="form-control m-select2" id="all_product_list_select2" name="product">
                                        {% if product %}
                                            <option value="{{ product }}" selected="selected">{{ product }}</option>
                                        {% endif %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4 text-center">
                                <div class="form-group m-form__group">
                                    <button class="btn btn-info" type="submit"><i class="flaticon-search"></i></button>
                                    <a href="{% url 'scatter-plot' %}" class="btn btn-danger"><i
                                            class="flaticon-refresh" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                    </form>

                    <div class="row">
                        <div class="col-md-12">
                            <hr/>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            {% if items %}
                                <div class="d-flex align-items-center justify-content-between mb-2">
                                    {% if limit != -1 %}
                                    <div>
                                        Showing {{ start|increment_one }} to {{ items|length|data_sum:start }}
                                        of {{ total_data }}
                                        entries
                                    </div>
                                    {% endif %}
                                    {% if total_pages > 1 %}
                                        <ul class="pagination justify-content-end mb-0">
                                            {{ pagination_links|safe }}
                                        </ul>
                                    {% endif %}
                                </div>

                                <table class="table table-striped product-scatterplot-datatable" id="scatter-plot-data-table">
                                    <thead>
                                    <tr>
                                        <th>Product Family</th>
                                        <th class="text-right">Total Sales ($)</th>
                                        <th class="text-right">Total Volume ({{ "MT"|get_default_volume }})</th>
                                        <th class="text-right">Number Of Customers</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for item in items %}
                                        <tr>
                                            <td>
                                                <a href="javascript:void(0);" onclick="get_product_scatterplot_data('{{ year }}','{{ item.product_family }}');" class="btn-link">{{ item.product_family }}</a>
                                            </td>
                                            <td class="text-right">${{ item.total_gross_sale_usd|floatformat:2 |intcomma }}</td>
                                            <td class="text-right">{{ item.total_sales_volume_mt|convert_volume|floatformat:2 |intcomma }} {{ "MT"|get_default_volume }}</td>
                                            <td class="text-right">{{ item.number_of_customer |intcomma }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>

                                {% if items %}
                                    <div class="d-flex align-items-center justify-content-between mb-2">
                                        {% if limit != -1 %}
                                        <div>
                                            Showing {{ start|increment_one }} to {{ items|length|data_sum:start }}
                                            of {{ total_data }}
                                            entries
                                        </div>
                                        {% endif %}
                                        {% if total_pages > 1 %}
                                            <ul class="pagination justify-content-end mb-0">
                                                {{ pagination_links|safe }}
                                            </ul>
                                        {% endif %}
                                    </div>
                                {% endif %}
                            {% else %}
                                <div class="alert alert-danger w-100">No data found</div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-4 pr-0" id="ajax-product-scatterplot-container">
            
        </div>

        <div class="col-xl-4" id="ajax-product-waterfall-container">
        </div>
    </div>

    <script>
        let year = {{ year }};
        let product_scatter_plot_canvas;
        let barGraph;
        let generate_scatter_chart;
        let chartjs_loader_generating_data;
        let generate_list_prices;
        let product_scatter_data;
        let product_scatter_data_additional_data;
        let single_waterfall_data;
        let total_waterfall_data;
        let pocket_margin_waterfall_canvas;
        let generate_waterfall_chart;
    </script>
{% endblock %}
