{% extends "master.layout.html" %}

{% block content %}
    <!--begin::Portlet-->
    <div class="m-portlet">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <h3 class="m-portlet__head-text">
                        {{ title }}
                    </h3>
                </div>
            </div>
        </div>

        <!--begin:: data-->
    </div>

    <!--end::Portlet-->
{% endblock %}